<tr id="survey" style="display: none">
	<td class="row1" colspan="2">
		<script type="text/javascript">
		<!--
		function toggle_on_off(id)
		{
			var obj = "";

				// Check browser compatibility
				if(document.getElementById)
					obj = document.getElementById(id);
				else if(document.all)
					obj = document.all[id];
				else if(document.layers)
					obj = document.layers[id];
				else
					return 1;

				if (!obj) {
					return 1;
				}
				else if (obj.style)
				{
					obj.style.display = ( obj.style.display != "none" ) ? "none" : "";
				}
				else
				{
					obj.visibility = "show";
				}
		}
		-->
		</script>
		<table border="0" cellpadding="0" cellspacing="2" width="100%">

			<tr>
				<td colspan="2" class="gensmall">{L_ADD_SURVEY_EXPLAIN}</td>
			</tr>
			<tr>
				<td class="row1" width="22%" valign="top"><b class="genmed">{L_SURVEY_CAPTION}</b></td>
				<td class="row2" width="78%"><textarea class="post" name="survey_caption" rows="3" cols="35" style="width:450px">{S_SURVEY_CAPTION}</textarea></td>
			</tr>

			<tr>
				<td class="row1"><b class="genmed">{L_SELECT_GROUP}</b></td>
				<td class="row2">
					<table border="0" cellpadding="3" cellspacing="1" width="100%">
						<!-- BEGIN surveylistrow -->
						<tr>
							<td><input class="postdetails" type="checkbox" name="survey_group_ids[]" value="{surveylistrow.S_MARK_ID}" {surveylistrow.S_DESIGNATED_GROUP} /><span class="topictitle">&nbsp;{surveylistrow.U_GROUP_NAME}</span></td>
						</tr>
						<!-- END surveylistrow -->
					</table>
				</td>
			</tr>

			<tr>
				<td class="row1"><b class="genmed">{L_ORDER_TO_SHOW}</b></td>
				<td class="row2"><select name="survey_show_order" size="1" class="topictitle"><option value="{ALPHABETICAL}" {S_SELECT_ALPHABETICAL}>{L_ALPHABETICAL}</option><option value="{ORDER_OF_RESPONSE}" {S_SELECT_ORDER_OF_RESPONSE}>{L_BY_ORDER_OF_RESPONSE}</option><option value="{SORT_BY_FIRST_ANSWER}" {S_SELECT_SORT_BY_FIRST_ANSWER}>{L_SORT_BY_FIRST_ANSWER}</option><option value="{SORT_BY_FIRST_ANSWER_DESCENDING_ORDER}" {S_SELECT_SORT_BY_FIRST_ANSWER_DESCENDING_ORDER}>{L_SORT_BY_FIRST_ANSWER_DESCENDING_ORDER}</option></select></td>
			</tr>

			<tr>
				<td class="row1"><b class="genmed">{L_LIST_NONRESPONDERS}</b></td>
				<td class="row2"><select name="survey_show_nonresponders" size="1" class="topictitle"><option value="{NONRESPONDERS_NO}" {S_SELECT_NONRESPONDERS_NO}>{L_NO_LC}</option><option value="{NONRESPONDERS_CENTER_COLUMN}" {S_SELECT_NONRESPONDERS_CENTER_COLUMN}>{L_SHOW_NONRESPONDERS_CENTER_COLUMN}</option><option value="{NONRESPONDERS_LEFT_COLUMN}" {S_SELECT_NONRESPONDERS_LEFT_COLUMN}>{L_SHOW_NONRESPONDERS_LEFT_COLUMN}</option><option value="{NONRESPONDERS_CENTER_COMMA_SEPARATED}" {S_SELECT_NONRESPONDERS_CENTER_COMMA_SEPARATED}>{L_SHOW_NONRESPONDERS_CENTER_COMMA_SEPARATED}</option><option value="{NONRESPONDERS_LEFT_COMMA_SEPARATED}" {S_SELECT_NONRESPONDERS_LEFT_COMMA_SEPARATED}>{L_SHOW_NONRESPONDERS_LEFT_COMMA_SEPARATED}</option></select></td>
			</tr>



			<tr>
				<td class="row1"><b class="genmed">{L_LINES_TO_SKIP}</b></td>
				<td class="row2"><select name="survey_lines_to_skip" size="1" class="topictitle"><option value="1" {S_SELECT_SKIP_ONE}>1</option><option value="2" {S_SELECT_SKIP_TWO}>2</option><option value="3" {S_SELECT_SKIP_THREE}>3</option></select></td>
			</tr>

			<tr>
				<td class="row1"><b class="genmed">{L_ALLOW_USERS_TO}</b></td>
				<td class="row2"><select name="survey_allow_change_answers" size="1" class="topictitle"><option value="{ALLOW_CHANGE_ANSWERS}" {S_SELECT_ALLOW_CHANGE_ANSWERS}>{L_ALLOW_CHANGE_ANSWERS}</option><option value="{ALLOW_MULTIPLE_ANSWERS}" {S_SELECT_ALLOW_MULTIPLE_ANSWERS}>{L_ALLOW_MULTIPLE_ANSWERS}</option><option value="{ALLOW_NEITHER}" {S_SELECT_ALLOW_NEITHER}>{L_ALLOW_NEITHER}</option></select></td>
			</tr>

			<tr>
				<td class="row1"><b class="genmed">{L_HIDE_NAMES_OF_RESPONDENTS}</b></td>
				<td class="row2"><input type="radio" class="radio" name="hide_names_of_respondents" value="1"<!-- IF S_SELECT_HIDE_NAMES_OF_RESPONDENTS_YES --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_YES}</span>&nbsp;&nbsp;<input type="radio" class="radio" name="hide_names_of_respondents" value="0"<!-- IF S_SELECT_HIDE_NAMES_OF_RESPONDENTS_NO --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NO}</span></td>
			</tr>

			<tr>
				<td class="row1"><b class="genmed">{L_HIDE_SURVEY_RESULTS}</b></td>
				<td class="row2"><input type="radio" class="radio" name="hide_survey_results" value="1"<!-- IF S_SELECT_HIDE_SURVEY_RESULTS_YES --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_YES}</span>&nbsp;&nbsp;<input type="radio" class="radio" name="hide_survey_results" value="0"<!-- IF S_SELECT_HIDE_SURVEY_RESULTS_NO --> checked="checked"<!-- ENDIF --> /><span class="genmed">{L_NO}</span></td>
			</tr>

			<tr>
				<td class="row1"><b class="genmed">{L_MAX_NUMBER_OF_QUESTIONS}</b></td>
				<td class="row2"><input type="text" name="max_number_of_questions" size="4" maxlength="4" class="post" value="{S_MAX_NUMBER_OF_QUESTIONS}" /></td>
			</tr>

			<tr>
				<td class="row1"><b class="genmed">{L_SURVEY_LENGTH}</b></td>
				<td class="row2"><input type="text" name="survey_length" size="4" maxlength="4" class="post" value="{S_SURVEY_LENGTH}" /></td>
			</tr>

			<tr>
				<td class="row1"><b class="genmed">{L_SURVEY_HEIGHT}</b></td>
				<td class="row2"><input type="text" name="survey_height" size="4" maxlength="4" class="post" value="{S_SURVEY_HEIGHT}" /></td>
			</tr>

			<tr>
				<td class="row1"><b class="genmed">{L_WIDTH_USERNAME}</b></td>
				<td class="row2"><input type="text" name="survey_width_username" size="3" maxlength="3" class="post" value="{S_WIDTH_USERNAME}" /></td>
			</tr>

				<!-- IF S_SHOW_SURVEY_DELETE_OPTION -->
				<tr>
					<td class="row1"><b class="genmed">{L_DELETE_SURVEY}</b></td>
					<td class="row2"><input type="checkbox" name="survey_delete" value="1" /></td>
				</tr>
				<!-- ENDIF -->


			<!-- BEGIN questions -->
			<tr>
				<td class="tablebg"></td>
				<td class="tablebg"></td>
			</tr>

			<tr>
				<td class="row1" valign="top"><b class="genmed">{L_QUESTION}</b></td>
				<td class="row2"><textarea name="survey_question[]" rows="3" cols="35" style="width:450px" class="post">{questions.S_QUESTION}</textarea></td>
			</tr>

			<tr>
				<td class="row1"><b class="genmed">{L_QUESTION_TYPE}</b></td>
				<td class="row2">
					<select name="survey_question_type[]" size="1" class="topictitle">
						<option value="{SMALL_TEXT_BLANK}" {questions.S_SELECTED_SMALL_TEXT_BLANK}>{L_SMALL_TEXT_BLANK}</option>
						<option value="{LARGE_TEXT_BLANK}" {questions.S_SELECTED_LARGE_TEXT_BLANK}>{L_LARGE_TEXT_BLANK}</option>
						<option value="{TEXT_BOX}" {questions.S_SELECTED_TEXT_BOX}>{L_TEXT_BOX}</option>
						<option value="{CHECKBOX_OR_RADIO_BUTTONS}" {questions.S_SELECTED_CHECKBOX_OR_RADIO_BUTTONS}>{L_CHECKBOX_OR_RADIO_BUTTONS}</option>
						<option value="{MULTIPLE_CHOICE_CHECKBOXES}" {questions.S_SELECTED_MULTIPLE_CHOICE_CHECKBOXES}>{L_MULTIPLE_CHOICE_CHECKBOXES}</option>
						<option value="{DROP_DOWN_MENU}" {questions.S_SELECTED_DROP_DOWN_MENU}>{L_DROP_DOWN_MENU}</option>
					</select>
				</td>
			</tr>

			<tr>
				<td class="row1"></td>
				<td class="row2">{L_IF_SELECTIONS}<input type="text" name="survey_question_selection[]" size="50" maxlength="255" class="post" value="{questions.S_SELECTIONS}" /></td>
			</tr>

			<tr>
				<td class="row1"><b class="genmed">{L_SHOULD_RESPONSES_BE_TOTALLED}</b></td>
				<td class="row2">
					<select name="survey_question_sum[]" size="1" class="topictitle">
						<option value="{NO_TOTAL}" {questions.S_NO_TOTAL}>{L_NO_LC}</option>
						<option value="{TOTAL_BY_RESPONSES}" {questions.S_TOTAL_BY_RESPONSES}>{L_YES_BY_NUMBER_OF_RESPONSES}</option>
						<option value="{TOTAL_BY_NUMBERS_IN_RESPONSES}" {questions.S_TOTAL_BY_NUMBERS_IN_RESPONSES}>{L_YES_BY_NUMBERS_IN_RESPONSES}</option>
						<option value="{TOTAL_BY_MATCHING_TEXT}" {questions.S_TOTAL_BY_MATCHING_TEXT}>{L_YES_BY_MATCHING_TEXT}</option>
						<option value="{TOTAL_BY_AVERAGE_OF_NUMBERS_IN_RESPONSES}" {questions.S_TOTAL_BY_AVERAGE_OF_NUMBERS_IN_RESPONSES}>{L_YES_BY_AVERAGE_OF_NUMBERS_IN_RESPONSES}</option>
					</select>
				</td>
			</tr>

			<tr>
				<td class="row1"></td>
				<td class="row2">{L_IF_AVERAGE}<input type="text" name="survey_question_average_round[]" size="3" maxlength="2" class="post" value="{questions.S_AVERAGE_ROUND}" /></td>
			</tr>

			<tr>
				<td class="row1"></td>
				<td class="row2">{L_IF_BY_MATCHING_TEXT}<input type="text" name="survey_question_selected_text[]" size="50" maxlength="255" class="post" value="{questions.S_SPECIFIED_TEXT}" /></td>
			</tr>

			<tr>
				<td class="row1"></td>
				<td class="row2">{L_CAP_RESPONSE}<input type="text" name="survey_question_response_cap[]" size="3" maxlength="255" class="post" value="{questions.S_CAP_RESPONSE}" /></td>
			</tr>

			<tr>
				<td class="row1"><b class="genmed">{L_WIDTH_QUESTION}</b></td>
				<td class="row2"><input type="text" name="survey_width_question[]" size="3" maxlength="3" class="post" value="{questions.S_WIDTH_QUESTION}" /></td>
			</tr>
			<!-- END questions -->

		</table>
	</td>
</tr>
