<tr>
	<td style="width: 100%" class="row2" colspan="2" align="center"><br clear="all" />
		<!-- IF MAX_SURVEY_HEIGHT > 0 --><div class="survey_max_height"><!-- ELSE --><div class="survey_auto_overflow"><!-- ENDIF -->
		<!-- IF MAX_SURVEY_HEIGHT > 0 --><!--[if gte IE 5]><div class="survey_height"><![endif]--><!-- ENDIF -->
		<!-- IF not S_PREVIEW --><form method="post" action="{S_SURVEY_ACTION}"><!-- ENDIF -->
			<table cellspacing="0" cellpadding="4" border="0" align="center">

				<!-- IF S_INCLUDE_SURVEY_FILLOUT_BUTTON -->
					<tr>
						<td align="center">{S_HIDDEN_FIELDS}
							<!-- IF not S_PREVIEW --><input type="submit" name="fill_out_for_self" value="{L_FILL_OUT_SURVEY}" class="btnmain" />
							<!-- ELSE --><input type="button" name="fill_out_for_self" value="{L_FILL_OUT_SURVEY}" class="btnmain" />
							<!-- ENDIF -->
						</td>
					</tr>
				<!-- ENDIF -->

				<!-- IF S_INCLUDE_SURVEY_CHANGEANSWERS_BUTTON -->
					<tr>
						<td align="center">{S_HIDDEN_FIELDS}
							<!-- IF not S_PREVIEW --><input type="submit" name="fill_out_for_self" value="{L_CHANGE_YOUR_ANSWERS}" class="btnmain" />
							<!-- ELSE --><input type="button" name="fill_out_for_self" value="{L_CHANGE_YOUR_ANSWERS}" class="btnmain" />
							<!-- ENDIF -->
						</td>
					</tr>
				<!-- ENDIF -->

				<!-- IF S_SURVEY_EXPIRED -->
					<tr>
						<td align="center" class="gen"><b>{L_SURVEY_EXPIRED}</b></td>
					</tr>
				<!-- ENDIF -->


				<!-- IF S_INCLUDE_FILLOUT_FOROTHERS_BUTTON -->
					<tr>
						<td align="center">{S_HIDDEN_FIELDS}
							<!-- IF not S_PREVIEW --><input type="submit" name="fill_out_for_other_user" value="{L_FILL_OUT_SURVEY_FOR_SOMEONE_ELSE}" class="btnmain" />
							<!-- ELSE --><input type="button" name="fill_out_for_other_user" value="{L_FILL_OUT_SURVEY_FOR_SOMEONE_ELSE}" class="btnmain" />
							<!-- ENDIF -->
						</td>
					</tr>
				<!-- ENDIF -->

					<tr>
						<td colspan="4" align="center" class="gen"><b>{SURVEY_CAPTION}</b></td>
					</tr>
					<tr><td><br /></td></tr>
					<tr>
						<td align="center">
							<table cellspacing="0" cellpadding="2" border="0">
								<tr>
									<td align="center" valign="top" width="{USERNAME_WIDTH}"></td><td>&nbsp;&nbsp;&nbsp;</td>
									<!-- BEGIN question_list -->
										<td align="center" valign="top" width="{question_list.QUESTION_WIDTH}" class="gen"><b>{question_list.QUESTION}</b></td><td>&nbsp;&nbsp;&nbsp;</td>
									<!-- END question_list -->
								</tr>

								<tr><td><br /></td></tr>

								<!-- BEGIN user_rows -->
								<tr>
									<td align="center" valign="top" width="{USERNAME_WIDTH}" class="gen">{user_rows.USERNAME}{LINES_TO_SKIP}</td><td>&nbsp;&nbsp;&nbsp;</td>
									<!-- BEGIN answers -->
										<td align="center" valign="top" width="{user_rows.answers.ANSWER_WIDTH}" class="gen">{user_rows.answers.ANSWER}{LINES_TO_SKIP}</td><td>&nbsp;&nbsp;&nbsp;</td>
									<!-- END answers -->
								</tr>
								<!-- END user_rows -->

								<tr>
									<td align="center" valign="top" class="gen"><b>{L_TOTAL}</b></td><td>&nbsp;&nbsp;&nbsp;</td>
									<!-- BEGIN totals -->
										<td align="center" valign="top" class="gen"><b>{totals.TOTAL}</b></td><td>&nbsp;&nbsp;&nbsp;</td>
									<!-- END totals -->
								</tr>

							</table>
						</td>
					</tr>
					<tr><td><br /></td></tr>
					<tr>
						<td colspan="4" align="center" class="gen"><b>{L_TOTAL_RESPONSES} : {TOTAL_RESPONSES}</b></td>
					</tr>

					<!-- IF SHOW_NONRESPONDERS -->
						<tr>
							<td colspan="4" align="{ALIGNMENT}" class="gen"><b>{L_NONRESPONDERS}</b></td>
						</tr>
						<tr>
							<td colspan="4" align="{ALIGNMENT}" valign="top" class="gensmall">{NONRESPONDER}</td>
						</tr>
					<!-- ENDIF -->

			</table>
			<br clear="all" />

		<!-- IF not S_PREVIEW --></form><!-- ENDIF -->
		<!-- IF MAX_SURVEY_HEIGHT > 0 --><!--[if gte IE 5]></div><![endif]--><!-- ENDIF -->
		</div>
	</td>
</tr>
