<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
<!--

function submitForm()
{
	document.post.post.disabled = 'true';
	document.post.post.value="{L_SENDING}";
	document.post.submit();
}

//-->
</script>

<form action="{S_ANSWER_ACTION}" method="post" name="answer_survey"><br clear="all" />
	<table class="row1" width="100%" cellspacing="1" cellpadding="3" border="0" align="center">
		<tr>
			<th><b>{SURVEY_CAPTION}</b></th>
		</tr>
		<tr><td><br /></td></tr>
		<tr>
			<td align="center">
				<table cellspacing="0" cellpadding="2" border="0">

					<!-- IF S_USERNAME_SELECT -->
					<tr>
						<td align="left" width="300px" class="gen"><b>{L_USERNAME_TAKING_SURVEY}</b></td>
						<td>&nbsp;&nbsp;&nbsp;</td>
						<td align="left"><input type="text" class="post" name="username" maxlength="25" size="25" value="{OTHER_USER}" />&nbsp;<input type="submit" name="usersubmit" value="{L_FIND_USERNAME}" class="btnmain" onclick="window.open('{U_SEARCH_USER}', '_phpbbsearch', 'height=500,resizable=yes,scrollbars=yes,width=740');return false;" /></td>
						<td><br /><br /></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td align="left">{S_HIDDEN_FIELDS}<input type="submit" name="retrieve_answers_for_other_user" value="{L_RETRIEVE_ANSWERS_FOR_OTHER_USER}" class="btnmain" /></td>
					</tr>

					<!-- IF OTHER_USER_ANSWERED_OR_NOT -->
					<tr>
						<td></td>
						<td></td>
						<td align="left" class="gen"><b>{OTHER_USER_ANSWERED_OR_NOT}</b></td>
					</tr>
					<!-- ENDIF -->

					<tr><td><br /><br /><br /></td></tr>
					<!-- ENDIF -->

					<!-- BEGIN question_rows -->
					<tr>
						<td align="left" width="300px" valign="middle" class="gen"><b>{question_rows.QUESTION}</b></td>
						<td>&nbsp;&nbsp;&nbsp;</td>
						<td align="left" valign="middle" class="gen"><b>{question_rows.ANSWER}</b></td>
						<td><br /><br /></td>
					</tr>
					<tr><td><br /><br /></td></tr>
					<!-- END question_rows -->

				</table>
			</td>
		</tr>

		<tr>
			<td align="center">{S_HIDDEN_FIELDS}<input type="submit" name="complete" value="{L_SUBMIT}" class="btnmain" onclick="submitForm();" /></td>
		</tr>
		<tr>
			<td class="cat" height="28">&nbsp;</td>
		</tr>
	</table>
</form>

<!-- INCLUDE overall_footer.html -->