<div class="post bg1">
<div class="inner"><span class="corners-top"><span></span></span>
<div class="postbody" style="width: 100%; text-align: center;">
<table width="100%" cellspacing="0">
<tr>
	<td  colspan="2" align="center"><br style="clear: both;" />
		<!-- IF MAX_SURVEY_HEIGHT > 0 --><div class="survey_max_height"><!-- ELSE --><div class="survey_auto_overflow"><!-- ENDIF -->
		<!-- IF MAX_SURVEY_HEIGHT > 0 --><!--[if gte IE 5]><div class="survey_height"><![endif]--><!-- ENDIF -->
		<!-- IF not S_PREVIEW --><form method="post" action="{S_SURVEY_ACTION}"><!-- ENDIF -->
			<table class="content" cellspacing="0" cellpadding="4" border="0" style="margin: auto">
				<!-- IF S_INCLUDE_SURVEY_FILLOUT_BUTTON -->
					<tr>
						<td align="center" style="line-height: 200%">{S_HIDDEN_FIELDS}
							<!-- IF not S_PREVIEW --><input type="submit" name="fill_out_for_self" value="{L_FILL_OUT_SURVEY}" class="button1" />
							<!-- ELSE --><input type="button" name="fill_out_for_self" value="{L_FILL_OUT_SURVEY}" class="button1" />
							<!-- ENDIF -->
						</td>
					</tr>
				<!-- ENDIF -->

				<!-- IF S_INCLUDE_SURVEY_CHANGEANSWERS_BUTTON -->
					<tr>
						<td align="center" style="line-height: 200%">{S_HIDDEN_FIELDS}
							<!-- IF not S_PREVIEW --><input type="submit" name="fill_out_for_self" value="{L_CHANGE_YOUR_ANSWERS}" class="button1" />
							<!-- ELSE --><input type="button" name="fill_out_for_self" value="{L_CHANGE_YOUR_ANSWERS}" class="button1" />
							<!-- ENDIF -->
						</td>
					</tr>
				<!-- ENDIF -->

				<!-- IF S_SURVEY_EXPIRED -->
					<tr>
						<td align="center"><b>{L_SURVEY_EXPIRED}</b></td>
					</tr>
				<!-- ENDIF -->


				<!-- IF S_INCLUDE_FILLOUT_FOROTHERS_BUTTON -->
					<tr>
						<td align="center" style="line-height: 200%">{S_HIDDEN_FIELDS}
							<!-- IF not S_PREVIEW --><input type="submit" name="fill_out_for_other_user" value="{L_FILL_OUT_SURVEY_FOR_SOMEONE_ELSE}" class="button1" />
							<!-- ELSE --><input type="button" name="fill_out_for_other_user" value="{L_FILL_OUT_SURVEY_FOR_SOMEONE_ELSE}" class="button1" />
							<!-- ENDIF -->
						</td>
					</tr>
				<!-- ENDIF -->

					<tr>
						<td colspan="4" align="center"><b>{SURVEY_CAPTION}</b></td>
					</tr>
					<tr><td><br /></td></tr>
					<tr>
						<td align="center">
							<table cellspacing="0" cellpadding="2" border="0">
								<tr>
									<td align="center" valign="top" <!-- IF USERNAME_WIDTH -->style="width: {USERNAME_WIDTH}px"<!-- ENDIF -->></td><td>&nbsp;&nbsp;&nbsp;</td>
									<!-- BEGIN question_list -->
										<td align="center" valign="top" <!-- IF question_list.QUESTION_WIDTH -->style="width: {question_list.QUESTION_WIDTH}px"<!-- ENDIF -->><b>{question_list.QUESTION}</b></td><td>&nbsp;&nbsp;&nbsp;</td>
									<!-- END question_list -->
								</tr>

								<tr><td><br /></td></tr>

								<!-- BEGIN user_rows -->
								<tr>
									<td align="center" valign="top" <!-- IF USERNAME_WIDTH -->style="width:{USERNAME_WIDTH}px"<!-- ENDIF -->>{user_rows.USERNAME}{LINES_TO_SKIP}</td><td>&nbsp;&nbsp;&nbsp;</td>
									<!-- BEGIN answers -->
										<td align="center" valign="top" <!-- IF user_rows.answers.ANSWER_WIDTH -->style="width:{user_rows.answers.ANSWER_WIDTH}px"<!-- ENDIF -->>{user_rows.answers.ANSWER}{LINES_TO_SKIP}</td><td>&nbsp;&nbsp;&nbsp;</td>
									<!-- END answers -->
								</tr>
								<!-- END user_rows -->

								<tr>
									<td align="center" valign="top"><b>{L_TOTAL}</b></td><td>&nbsp;&nbsp;&nbsp;</td>
									<!-- BEGIN totals -->
										<td align="center" valign="top"><b>{totals.TOTAL}</b></td><td>&nbsp;&nbsp;&nbsp;</td>
									<!-- END totals -->
								</tr>

							</table>
						</td>
					</tr>
					<tr><td><br /></td></tr>
					<tr>
						<td colspan="4" align="center"><b>{L_TOTAL_RESPONSES} : {TOTAL_RESPONSES}</b></td>
					</tr>

					<!-- IF SHOW_NONRESPONDERS -->
						<tr>
							<td colspan="4" align="{ALIGNMENT}"><b>{L_NONRESPONDERS}</b></td>
						</tr>
						<tr>
							<td colspan="4" align="{ALIGNMENT}" valign="top">{NONRESPONDER}</td>
						</tr>
					<!-- ENDIF -->

			</table>
			<div style="clear: both;"></div>
		<!-- IF not S_PREVIEW --></form><!-- ENDIF -->
		<!-- IF MAX_SURVEY_HEIGHT > 0 --><!--[if gte IE 5]></div><![endif]--><!-- ENDIF -->
		</div>
	</td>
</tr>
</table>
</div>
<span class="corners-bottom"><span></span></span></div>
</div>
