<div class="panel bg3" id="survey-panel">
	<div class="inner"><span class="corners-top"><span></span></span>

		<p>{L_ADD_SURVEY_EXPLAIN}</p>

		<fieldset class="survey_posting_body">

			<dl>
				<dt><label>{L_SURVEY_CAPTION}</label></dt>
				<dd><textarea name="survey_caption" rows="3" cols="35" style="width:450px">{S_SURVEY_CAPTION}</textarea></dd>
			</dl>

			<dl>
				<dt><label>{L_SELECT_GROUP}</label></dt>
				<dd><!-- BEGIN surveylistrow -->
						<input type="checkbox" name="survey_group_ids[]" value="{surveylistrow.S_MARK_ID}" {surveylistrow.S_DESIGNATED_GROUP} />{surveylistrow.U_GROUP_NAME}<br />
					<!-- END surveylistrow -->
				</dd>
			</dl>

			<dl>
				<dt><label>{L_ORDER_TO_SHOW}</label></dt>
				<dd><select name="survey_show_order" size="1"><option value="{ALPHABETICAL}" {S_SELECT_ALPHABETICAL}>{L_ALPHABETICAL}</option><option value="{ORDER_OF_RESPONSE}" {S_SELECT_ORDER_OF_RESPONSE}>{L_BY_ORDER_OF_RESPONSE}</option><option value="{SORT_BY_FIRST_ANSWER}" {S_SELECT_SORT_BY_FIRST_ANSWER}>{L_SORT_BY_FIRST_ANSWER}</option><option value="{SORT_BY_FIRST_ANSWER_DESCENDING_ORDER}" {S_SELECT_SORT_BY_FIRST_ANSWER_DESCENDING_ORDER}>{L_SORT_BY_FIRST_ANSWER_DESCENDING_ORDER}</option></select></dd>
			</dl>

			<dl>
				<dt><label>{L_LIST_NONRESPONDERS}</label></dt>
				<dd><select name="survey_show_nonresponders" size="1"><option value="{NONRESPONDERS_NO}" {S_SELECT_NONRESPONDERS_NO}>{L_NO_LC}</option><option value="{NONRESPONDERS_CENTER_COLUMN}" {S_SELECT_NONRESPONDERS_CENTER_COLUMN}>{L_SHOW_NONRESPONDERS_CENTER_COLUMN}</option><option value="{NONRESPONDERS_LEFT_COLUMN}" {S_SELECT_NONRESPONDERS_LEFT_COLUMN}>{L_SHOW_NONRESPONDERS_LEFT_COLUMN}</option><option value="{NONRESPONDERS_CENTER_COMMA_SEPARATED}" {S_SELECT_NONRESPONDERS_CENTER_COMMA_SEPARATED}>{L_SHOW_NONRESPONDERS_CENTER_COMMA_SEPARATED}</option><option value="{NONRESPONDERS_LEFT_COMMA_SEPARATED}" {S_SELECT_NONRESPONDERS_LEFT_COMMA_SEPARATED}>{L_SHOW_NONRESPONDERS_LEFT_COMMA_SEPARATED}</option></select></dd>
			</dl>

			<dl>
				<dt><label>{L_LINES_TO_SKIP}</label></dt>
				<dd><select name="survey_lines_to_skip" size="1"><option value="1" {S_SELECT_SKIP_ONE}>1</option><option value="2" {S_SELECT_SKIP_TWO}>2</option><option value="3" {S_SELECT_SKIP_THREE}>3</option></select></dd>
			</dl>

			<dl>
				<dt><label>{L_ALLOW_USERS_TO}</label></dt>
				<dd><select name="survey_allow_change_answers" size="1"><option value="{ALLOW_CHANGE_ANSWERS}" {S_SELECT_ALLOW_CHANGE_ANSWERS}>{L_ALLOW_CHANGE_ANSWERS}</option><option value="{ALLOW_MULTIPLE_ANSWERS}" {S_SELECT_ALLOW_MULTIPLE_ANSWERS}>{L_ALLOW_MULTIPLE_ANSWERS}</option><option value="{ALLOW_NEITHER}" {S_SELECT_ALLOW_NEITHER}>{L_ALLOW_NEITHER}</option></select></dd>
			</dl>

			<dl>
				<dt><label for="hidenames1">{L_HIDE_NAMES_OF_RESPONDENTS}</label></dt>
				<dd>
					<label for="hidenames1"><input type="radio" name="hide_names_of_respondents" id="hidenames1" value="1"<!-- IF S_SELECT_HIDE_NAMES_OF_RESPONDENTS_YES --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
					<label for="hidenames0"><input type="radio" name="hide_names_of_respondents" id="hidenames0" value="0"<!-- IF S_SELECT_HIDE_NAMES_OF_RESPONDENTS_NO --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="hideresults1">{L_HIDE_SURVEY_RESULTS}</label></dt>
				<dd>
					<label for="hideresults1"><input type="radio" name="hide_survey_results" id="hideresults1" value="1"<!-- IF S_SELECT_HIDE_SURVEY_RESULTS_YES --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
					<label for="hideresults0"><input type="radio" name="hide_survey_results" id="hideresults0" value="0"<!-- IF S_SELECT_HIDE_SURVEY_RESULTS_NO --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
				</dd>
			</dl>

			<dl>
				<dt><label>{L_MAX_NUMBER_OF_QUESTIONS}</label></dt>
				<dd><input type="text" name="max_number_of_questions" size="4" maxlength="4" value="{S_MAX_NUMBER_OF_QUESTIONS}" /></dd>
			</dl>

			<dl>
				<dt><label>{L_SURVEY_LENGTH}</label></dt>
				<dd><input type="text" name="survey_length" size="4" maxlength="4" value="{S_SURVEY_LENGTH}" /></dd>
			</dl>

			<dl>
				<dt><label>{L_SURVEY_HEIGHT}</label></dt>
				<dd><input type="text" id="survey_height" name="survey_height" size="4" maxlength="4" value="{S_SURVEY_HEIGHT}" /></dd>
			</dl>

			<dl>
				<dt><label>{L_WIDTH_USERNAME}</label></dt>
				<dd><input type="text" name="survey_width_username" size="3" maxlength="3" value="{S_WIDTH_USERNAME}" /></dd>
			</dl>

			<!-- IF S_SHOW_SURVEY_DELETE_OPTION -->
				<dl>
					<dt><label>{L_DELETE_SURVEY}</label></dt>
					<dd><input type="checkbox" name="survey_delete" value="1" /></dd>
				</dl>
			<!-- ENDIF -->

			<!-- BEGIN questions -->

			<table width="100%" style="background-color: #FFFFFF"><tr><td></td></tr></table>

			<dl>
				<dt><label>{L_QUESTION}</label></dt>
				<dd><textarea name="survey_question[]" rows="3" cols="35" style="width:450px">{questions.S_QUESTION}</textarea></dd>
			</dl>

			<dl>
				<dt><label>{L_QUESTION_TYPE}</label></dt>
				<dd>
					<select name="survey_question_type[]" size="1">
						<option value="{SMALL_TEXT_BLANK}" {questions.S_SELECTED_SMALL_TEXT_BLANK}>{L_SMALL_TEXT_BLANK}</option>
						<option value="{LARGE_TEXT_BLANK}" {questions.S_SELECTED_LARGE_TEXT_BLANK}>{L_LARGE_TEXT_BLANK}</option>
						<option value="{TEXT_BOX}" {questions.S_SELECTED_TEXT_BOX}>{L_TEXT_BOX}</option>
						<option value="{CHECKBOX_OR_RADIO_BUTTONS}" {questions.S_SELECTED_CHECKBOX_OR_RADIO_BUTTONS}>{L_CHECKBOX_OR_RADIO_BUTTONS}</option>
						<option value="{MULTIPLE_CHOICE_CHECKBOXES}" {questions.S_SELECTED_MULTIPLE_CHOICE_CHECKBOXES}>{L_MULTIPLE_CHOICE_CHECKBOXES}</option>
						<option value="{DROP_DOWN_MENU}" {questions.S_SELECTED_DROP_DOWN_MENU}>{L_DROP_DOWN_MENU}</option>
					</select>
				</dd>
				<dd>{L_IF_SELECTIONS}<input type="text" name="survey_question_selection[]" size="50" maxlength="255" value="{questions.S_SELECTIONS}" /></dd>
			</dl>

			<dl>
				<dt><label>{L_SHOULD_RESPONSES_BE_TOTALLED}</label></dt>
				<dd>
					<select name="survey_question_sum[]" size="1">
						<option value="{NO_TOTAL}" {questions.S_NO_TOTAL}>{L_NO_LC}</option>
						<option value="{TOTAL_BY_RESPONSES}" {questions.S_TOTAL_BY_RESPONSES}>{L_YES_BY_NUMBER_OF_RESPONSES}</option>
						<option value="{TOTAL_BY_NUMBERS_IN_RESPONSES}" {questions.S_TOTAL_BY_NUMBERS_IN_RESPONSES}>{L_YES_BY_NUMBERS_IN_RESPONSES}</option>
						<option value="{TOTAL_BY_MATCHING_TEXT}" {questions.S_TOTAL_BY_MATCHING_TEXT}>{L_YES_BY_MATCHING_TEXT}</option>
						<option value="{TOTAL_BY_AVERAGE_OF_NUMBERS_IN_RESPONSES}" {questions.S_TOTAL_BY_AVERAGE_OF_NUMBERS_IN_RESPONSES}>{L_YES_BY_AVERAGE_OF_NUMBERS_IN_RESPONSES}</option>
					</select>
				</dd>
				<dd>{L_IF_AVERAGE}<input type="text" name="survey_question_average_round[]" size="3" maxlength="2" value="{questions.S_AVERAGE_ROUND}" /></dd>
				<dd>{L_IF_BY_MATCHING_TEXT}<input type="text" name="survey_question_selected_text[]" size="50" maxlength="255" value="{questions.S_SPECIFIED_TEXT}" /></dd>
				<dd>{L_CAP_RESPONSE}<input type="text" name="survey_question_response_cap[]" size="3" maxlength="255" value="{questions.S_CAP_RESPONSE}" /></dd>
			</dl>

			<dl>
				<dt><label>{L_WIDTH_QUESTION}</label></dt>
				<dd><input type="text" name="survey_width_question[]" size="3" maxlength="3" value="{questions.S_WIDTH_QUESTION}" /></dd>
			</dl>
			<!-- END questions -->

		</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
