<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
<!--

function submitForm()
{
	document.post.post.disabled = 'true';
	document.post.post.value="{L_SENDING}";
	document.post.submit();
}

//-->
</script>

<h2>{SURVEY_CAPTION}</h2>

<div class="post bg1">
<div class="inner"><span class="corners-top"><span></span></span>
<div class="postbody" style="width: 100%; text-align: center;">
<form action="{S_ANSWER_ACTION}" method="post" id="answer_survey">
	<table class="content" cellspacing="1" cellpadding="3" border="0" style="width: 100%; text-align: center;">
		<tr><td><br /></td></tr>
		<tr>
			<td align="center">
				<table cellspacing="0" cellpadding="2" border="0">

					<!-- IF S_USERNAME_SELECT -->
					<tr>
						<td align="left" style="width: 300px"><b>{L_USERNAME_TAKING_SURVEY}</b></td>
						<td>&nbsp;&nbsp;&nbsp;</td>
						<td align="left"><input type="text" name="username" maxlength="25" size="25" value="{OTHER_USER}" />&nbsp;<input type="submit" name="usersubmit" value="{L_FIND_USERNAME}" class="button1" onclick="window.open('{U_SEARCH_USER}', '_phpbbsearch', 'height=500,resizable=yes,scrollbars=yes,width=740');return false;" /></td>
						<td><br /><br /></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td align="left">{S_HIDDEN_FIELDS}<input type="submit" name="retrieve_answers_for_other_user" value="{L_RETRIEVE_ANSWERS_FOR_OTHER_USER}" class="button1" /></td>
					</tr>

					<!-- IF OTHER_USER_ANSWERED_OR_NOT -->
					<tr>
						<td></td>
						<td></td>
						<td align="left"><b>{OTHER_USER_ANSWERED_OR_NOT}</b></td>
					</tr>
					<!-- ENDIF -->

					<tr><td><br /><br /><br /></td></tr>
					<!-- ENDIF -->

					<!-- BEGIN question_rows -->
					<tr>
						<td align="left" style="width: 300px"><b>{question_rows.QUESTION}</b></td>
						<td>&nbsp;&nbsp;&nbsp;</td>
						<td align="left"><b>{question_rows.ANSWER}</b></td>
						<td><br /><br /></td>
					</tr>
					<tr><td><br /><br /></td></tr>
					<!-- END question_rows -->

				</table>
			</td>
		</tr>

		<tr>
			<td align="center">{S_HIDDEN_FIELDS}<input type="submit" name="complete" value="{L_SUBMIT}" class="button1" onclick="submitForm();" /></td>
		</tr>
	</table>
</form>
</div>
<span class="corners-bottom"><span></span></span></div>
</div>

<!-- INCLUDE overall_footer.html -->