	<!-- IF S_INCLUDE_SURVEY_FILLOUT_BUTTON -->
	<div class="buttons">
		<div class="surveyfillout-icon"><a href="{U_FILLOUT_SURVEY}" title="{L_FILL_OUT_SURVEY}"><span></span>{L_FILL_OUT_SURVEY}</a></div>
	</div>
	<!-- ENDIF -->

	<!-- IF S_INCLUDE_SURVEY_CHANGEANSWERS_BUTTON -->
	<div class="buttons">
		<div class="surveychangeanswers-icon"><a href="{U_FILLOUT_SURVEY}" title="{L_CHANGE_YOUR_ANSWERS}"><span></span>{L_CHANGE_YOUR_ANSWERS}</a></div>
	</div>
	<!-- ENDIF -->
